<p>
<%= link_to 'My Todo-categories', categories_path, class: 'btn btn-primary' %>
<%= link_to 'My Todo-tasks', tasks_path, class: 'btn btn-primary' %>
</p>

<br>

<p>This todo-list is created for CVWO 2018 holiday assignment.</p>
<p>This todo-list is created by Zhang Yuntong.</p>
