<h1>Welcome back to work!</h1>

<p>Please login to your account.</p>

<p>
<%= link_to 'My Todo-categories', categories_path, class: 'btn btn-primary' %>
<%= link_to 'My Todo-tasks', tasks_path, class: 'btn btn-primary' %>
</p>


<p>This todo-list is created by Zhang Yuntong.</p>
